.container1{
    background-color: white;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container1 {background: white;
    }
  }
  
.container2{
  background-image: url(../Images/mask-bg.png);

}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container2 {background-image: url(../Images/mask-bg.png);
  }
}
.container3{

}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container3{ 
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container4{ 
  }
}
.container5{
  background-color: aliceblue;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container5{ 
    background-color: aliceblue;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container6{ 
  }
}
.container7{
  background-color: aliceblue;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container7{ 
    background-color: aliceblue;
  }
}
.container8{
  background-color: aliceblue;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container8{ 
    background-color: aliceblue;
  }
}
.container9{
  background-color: aliceblue;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container9{ 
    background-color: aliceblue;
  }
}
.container10{
  background-color: aliceblue;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container10{ 
    background-color: aliceblue;
  }
}